/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/ 

.page.theme_light {
  --accent-color: #FF8DCB;
  --main-title-color: #FFC2E6;
  --bg-color: #FFF1F7;
  --main-font: 'IBM Plex Mono';
  --paragraph-text: #353430;
  --color-hover: rgba(50, 49, 45, 0.4);
  --background-image: url(../images/cover-image-light.png);
  --tittle-decor: #353430;
  --main-title: #353430;
  --display: none;
  --decorated: #353430;
}
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

